// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Righteous&display=swap');

@heading-font: 'Righteous', sans-serif;
@body-font: 'Lato', sans-serif;

.headingText(){
	font-size: 4rem;
	padding: 2rem;
	font-family: @heading-font;
}

.infoText(){
	font-size: 2.75rem;
	padding: 2rem;
	font-family: @body-font;
}

.mobileFont(){
	font-size: 2rem;
	padding: 1rem;
}

.center(){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.right(){
	display: flex;
	justify-content: flex-end;
}

.column(){
	display: flex;
	flex-direction: column;
}

.border(){
  border: 6px solid #FF0202;
}

.backgroundMain(){
	background: #000;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-size: 62.5%;
}

nav {
	.right();
	.backgroundMain();
	width:100%;
	a {
		color: #fff;
		.headingText();
		text-decoration: none;
		&:hover{
			color:#000;
			background-color: #fff;
		}

		@media(max-width: 500px) {
			.mobileFont();
		}
	}
}

h1 {
	.headingText();

	@media(max-width: 500px) {
		.mobileFont();
	}
}

p, ul, h2 {
	.infoText();
	li {
		padding: .5rem;
	}

	@media(max-width: 500px) {
		.mobileFont();
	}
}

#about, #skills, #experience, #contact {
	width: 90%;
	margin: 2rem auto;
	.center();
	.border();

	@media(max-width: 500px) {
		flex-direction: column;
	}
}

.col {
	display: flex;
	flex-direction: column;
	width: 50%;
	img {
		width: 100%;
	}

	@media(max-width: 500px){
		width: 100%;
	}
}
